<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Properties</title>
</head>
<body>
    <h1>Properties List</h1>
    <a href="/admin/properties/add">Add New Property</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="property : ${properties}">
                <td th:text="${property.name}"></td>
                <td th:text="${property.location}"></td>
                <td th:text="${property.type}"></td>
                <td>
                    <a th:href="@{/admin/properties/edit/{id}(id=${property.pId})}">Edit</a>
                    <a th:href="@{/admin/properties/delete/{id}(id=${property.pId})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
